/*Universal Stuff */
* {
    color: #4C3F3F;
}
body{
    background-image: url(../Images/beautiful-bloom-blooming-132474.jpg);
}
main{
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 150px;
}
.container{
    position: relative;
    text-align: center;
    color: 0 0 0;
}
.contained{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    color: white;
}
p{
    font-size: 20px;
}
.port p{
    background-color:#f0d9ff;
}

.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*Dropdown #BC3CFF #606060*/
header{
    background-color: #1a1813;
    font-size: 22px;
    position: relative;
}

.yes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin-left: 7%;
}

header nav img{
    margin-left: 2%;
    position: absolute;
    margin-top: 1%;
    max-width: 200px;
}

.no{
    padding: 20px;
}

.show:hover .hide{
    display: block;
    
}

header nav div a:link{
    text-decoration:none;
    color: white;
} 
header nav div a:visited{
    text-decoration:none;
    color: white;
} 

.show{
    position: relative;
}

.hide{
    position: absolute;
    display: none;
    margin-left: 0;
    margin-right: 0;
    top: 60px;
}

.hide a{
    padding: 12px 16px;
    display: block;
    background-color: #1a1813;
    min-width: 160px;
}

.hide a:hover, header .no:hover {
    background-color:#b95aff;
}


/*Footer (most of the stuff used is based off the nav)*/
footer{
    background-color: #1a1813;
    font-size: 22px;
    position: relative;
    margin-top: 50px;
}

footer nav div a{
    color: white;
}

footer nav div a:link{
    text-decoration:none;
    color: white;
} 
footer nav div a:visited{
    text-decoration:none;
    color: white;
} 
footer .no:hover{
    background-color: #da94ff;
}


/*Index*/
.side{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.hidden{
    display: none;
}

h1{
    font-size: 32px;
}


.technology, .speaking, .religion, .baking{
    height: 700px;
    width: 300px;
    background-size: cover;
}

.technology{background-image: url(../Images/img_technology.jpg)}
.speaking{background-image: url(../Images/img_speaking2.jpg)}
.religion{background-image: url(../Images/img_religion2.jpg)}
.baking{background-image: url(../Images/img_baking.jpg)}

      /*Blackened Animation*/
.overlay{
    background-color: rgba(0,0,0,0.35);
    transition: background-color 0.25s ease;
    width: 100%;
    height: 100%;
}
.overlay:hover{
    background-color: rgba(0,0,0,0);
}

.hume{
    max-width: 1280px;
}

.bot p{
    background-color: #f0d9ff;
}

/*Resume*/
.r_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.boldin{
    font-size: 24px;
    margin-bottom: 16px;
}
.r_top div ul{
    margin-top: 0px;
}
.r_top div p{
    margin-bottom: 0px; 
}

.r_bot{
    margin-top: 50px;
}

.milla, .fisher{
    max-width: 570px;
    background-color: #f0d9ff;
}

.rec{
    text-align: center;
    margin-top: 100px;
    font-size: 26px;
}

.indent{
    text-indent: 30px;
    font-size: 20px;
}

.r_bot{
    display: flex;
    justify-content: space-between;
}

/*Portfolio*/
.por_main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*Portfolio pics*/
.por_main img{
    max-width: 600px;
}

.port_pics{
    width: 100%;
}

.finally{
    
}
/*Portfolio webs*/
.port_webs{
    width: 100%;
}


/*Contacts*/
.contact_pictures{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.contact_pics{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact_pics img{
    max-width: 250px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: space-between;
    height: 300px;
    
}
input, label{
    max-width: 300px;
    font-size: 20px;
}
.contact:last-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: space-between;
}



.phone{
    
}

.mail{
    
}

.linked{
    
}

.insta{
    
}




/*Media Q*/
@media only screen and (max-width: 1280px){

    .hume{
        width: 100%;
    }
    .container, .overlay{
        width: 500px;
        margin-bottom: 20px;
    }
    
    .fisher{
         margin-left: 10px;   
    }
    .milla{
    margin-right: 10px;
    }
    
    .por_main{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .por_main img{
        width: 100%;
    }
    
}


@media only screen and (max-width: 1000px){

    nav a{
        display: flex;
        justify-content: center;
    }
     header nav img{
        margin: 0;
        position: static;
        width: 200px;
        height: 200px;
    }
    
    header{
        background-color: rgba(0,0,0,0.0);
    }
    
    nav{
        width: 100%;        
    }
    .yes{
        background-color: #1a1813;
        margin-left: 0;
    }

    
}


@media only screen and (max-width: 800px){

    .milla, .fisher{
        margin: 0;
        margin-bottom: 10px;
    }
    .r_bot, .r_top{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .contact_pics{
        flex-direction: column;
    }
    
    .container{
        width: 60%;
        margin-bottom: 20px;
    }
    .overlay{
        width: 100%;
    }
}


















