body{
    background-image: url(../images/forest-river.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    //background-attachment: fixed;
    
}

section, section img{
    margin-left: 15%;
    margin-right: 15%;
    border-style: solid;
    border-width: 6px;
    border-color: saddlebrown;
    background-image: url(../images/opaque-white.png)   
}

section {
    text-align: center;
    color: black;
    font-family: Agency FB;
}

section img{
    margin-right: 0px;
    margin-left: 0px;
    
}


nav li{
    background-color: #f9ee3e;
    display: inline-block;
    padding: 8px 16px;
    width: 180px;
    text-align: center;
    //border: 1px;
    //float: left;
    //margin-left: auto;
    //margin-right: auto;
    font-family: Agency FB;
    font-family: 'Asset', cursive;

}


nav{
    margin-left: 15%;
    width: 70%;
    text-align: center;
}

nav li:hover{
    background-color: orange;
}

a img{
    height: 100px;
    width: 100px;
    border-style: solid;
    border-width: 2px;
    border-color: skyblue;
    
}

h1{
    margin-top: 0;
    padding-bottom: 32px; 
    padding-top:31px;
    color: black;
    text-decoration: none;
    
}

h2{
    text-align: center;
}

.clear:after{
    content: "";
    clear: both;
    display: table;
}

p{
    color: black;
    font-size: 35px;
    font-family: Agency FB;
}